<div class="wrapper">
  <div class="inner-wrap">
   
    <div
      class="reg-user"
      
    >
    
      
    </div>

    <div class="buttons">
      <a
        raised-button
        *ngIf="isLogged "
        routerLinkActive="active"
        [routerLink]="['home']"
        class="link"
      >
      Home
      </a>
      <a
        raised-button
        *ngIf="isLogged "
        routerLinkActive="active"
        [routerLink]="['createCertificate']"
        class="link"
      >
      Create Certificate
      </a>

      <a
        raised-button
        *ngIf="isLogged "
        routerLinkActive="active"
        [routerLink]="['createCAEE']"
        class="link"
      >
      Create CAEE
      </a>

      <a
        raised-button
        *ngIf="isLogged  && userRole === 'ICA'"
        routerLinkActive="active"
        [routerLink]="['createCAEEbyCA']"
        class="link"
      >
      Create CAEE
      </a>
      <a
      raised-button
      *ngIf="isLogged "
      routerLinkActive="active"
      [routerLink]="['showCertificate']"
      class="link"
    >
    Certificates
    </a>



      <button
        *ngIf="isLogged && userRole != 'ROLE_REGISTERED_USER'"
        class="nbuttonEnd"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
    <div class="log-out" *ngIf="!isLogged">
      <button class="nbuttonEnd" [routerLink]="['login']">Login</button>
    </div>
  </div>
</div>