

<table mat-table class="mat-elevation-z8 demo-table" [dataSource]="subjects">
  <!-- Position Column -->
  <ng-container matColumnDef="SerialNumber">
    <th mat-header-cell *matHeaderCellDef>SerialNumber</th>
    <td mat-cell *matCellDef="let element">{{element.serialNumber}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="ValidFrom">
    <th mat-header-cell *matHeaderCellDef>ValidFrom</th>
    <td mat-cell *matCellDef="let element">{{element.startDate  | date: 'dd.MM.yyyy' }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ValidTo">
    <th mat-header-cell *matHeaderCellDef>ValidTo</th>
    <td mat-cell *matCellDef="let element">{{element.endDate  | date: 'dd.MM.yyyy' }}</td>
  </ng-container>
  <ng-container matColumnDef="SubjectUsername">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let element">{{element.subjectUsername }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="openDialog(element)">info_outline</i></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>



