<mat-tab-group>
    <mat-tab label="General">
      <!-- Sadržaj za tab "General" -->
      <h3>General Info</h3>
      <!-- Dodajte ostali sadržaj za tab "General" -->
      <h3>Issued To: </h3>
      <h3>Issued By: </h3>
      <h3>Validity Period: </h3>
      <h3>Sha-256 Fingerprints: </h3>
    </mat-tab>
    <mat-tab label="Pem Details">
      <!-- Sadržaj za tab "Pem Details" -->
      <h3>Pem Details</h3>
      <!-- Dodajte ostali sadržaj za tab "Pem Details" -->
    </mat-tab>
  </mat-tab-group>