<form  (ngSubmit)="submitForm()" [formGroup]="appForm">
 
   
        <div class="form-group">
            <label for="inWhooseName">In whose name</label>
            <select class="form-control" id="inWhooseName" formControlName="inWhoseName" (change)="onChange()">
                <option value="SomeoneElseName">In someone else's name</option>
                <option value="MyName">In my name</option>
            </select>
        </div>
  
        <div class="form-group"   [formGroup]="myGroup" *ngIf="appForm.get('inWhoseName')?.value === 'SomeoneElseName'">
            <label for="issuer">Choose issuer:</label>
            <select class="form-control" id="issuer" formControlName="selectedIssuer" (change)="onIssuerChange($event)">
                <option value="" disabled selected>Choose an issuer</option>
                <option *ngFor="let issuer of issuers" [value]="issuer.issuerUsername">{{ issuer.issuerUsername }} ,type: {{issuer.type}}</option>
            </select>
        </div>
    
    
    <div class="form-group">
        <label for="certificateType">Certificate type</label>
        <select class="form-control" id="certificateType" formControlName="certificateType" (change)="onChangeCertificateType()">
            <option value="Intermediary">Intermediary</option>
            <option value="EndEntity">End entity</option>
        </select>
    </div>
    <div class="form-group">
        <label for="subjectUsername">Subject Username</label>
        <input type="text" class="form-control" id="subjectUsername" name="subjectUsername" formControlName="subjectUsername" required>
    </div>
    <div class="form-group">
        <label for="subjectOrganization">Subject Organization</label>
        <input type="text" class="form-control" id="subjectOrganization" name="subjectOrganization" formControlName="subjectOrganization" >
    </div>
    <div class="form-group">
        <label for="subjectOrganizationUnit">Subject Organization Unit</label>
        <input type="text" class="form-control" id="subjectOrganizationUnit" name="subjectOrganizationUnit" formControlName="subjectOrganizationUnit" >
    </div>
    <div class="form-group">
        <label for="subjectCountry">Subject Country</label>
        <input type="text" class="form-control" id="subjectCountry" name="subjectCountry" formControlName="subjectCountry" >
    </div>
    <div class="form-group">
        <label for="subjectEmail">Subject Email</label>
        <input type="email" class="form-control" id="subjectEmail" name="subjectEmail" formControlName="subjectEmail" >
    </div>
    <div class="form-group">
        <label for="subjectEmail">PK Issuer password</label>
        <input type="password" class="form-control" id="newPKIssuerPassword" name="subjectEmail" formControlName="newPKIssuerPassword" >
    </div>
   
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate" name="startDate" (change)="onChangeStartDate()"  >
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate" name="endDate" [min]="minEndDate" >
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
